.serv-img{
    margin: 10px 20px 20px 50px;
    display: inline;
    float: left;
  }
  .serv-img1 {
    width: 250px;
    height: 150px;
    border-radius: 5px;
  }
  
  #servpara {
    margin-left: 50px;
  }